.idea/
.DS_Store
server/volumes/mysql/*
server/volumes/mongo/*
server/volumes/elasticsearch/*
server/volumes/postgres/*
server/volumes/rabbitmq/*
node/node_modules
app/*
!important app/info.php
!important app/application.php
